@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* --- global css --- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #f9fafb;
  color: #111827;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: inherit;
}

/* --- Layout  Container --- */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
}

/* --- Header / Navbar --- */

.header {
  background-color: #ffffff;
  border-bottom: 1px solid #f3f4f6;
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.nav-links {
  display: flex;
  gap: 32px;
  list-style-type: none;
}

.nav-links a {
  font-size: 14px;
  font-weight: 500;
  color: #4b5563;
  transition: color 0.2s;
}

.nav-links a:hover {
  color: #2563eb;
}

.btn-primary {
  background-color: #2563eb;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  transition: background-color 0.2s;
  border: none;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #1d4ed8;
}

/* --- banner / hero section --- */

.banner {
  background-image:
    linear-gradient(rgba(9, 9, 11, 0.85), rgba(9, 9, 11, 0.85)),
    url(../assets/banner2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #ffffff;
  text-align: center;
  padding: 180px 0px;
  position: relative;
}

.banner h1 {
  font-size: 56px;
  font-weight: 800;
  letter-spacing: -1px;
}

.banner p {
  font-size: 18px;
  color: #ffffffc5;
  max-width: 700px;
  margin: 0 auto 40px auto;
  line-height: 1.5;
}

.btn-large {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  padding: 16px 32px;
  font-size: 16px;
  border-radius: 12px;
  font-weight: 700;
  box-shadow: 0 10px 15px -3px rgba(37, 99, 235, 0.3);
}

/* --- Speaker section --- */

.section-title {
  text-align: center;
  font-size: 36px;
  font-weight: 800;
  margin: 80px 0 48px 0;
  letter-spacing: -0.5px;
}

.speakers-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
  margin: 0 auto 80px auto;
}

.speaker-card {
  background-color: #ffffff;
  border-radius: 16px;
  overflow: hidden;
  border: 1px solid#f3f4f6;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  transition:
    transform 0.2s,
    box-shadow 0.2s;
}

.speaker-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

.speaker-img {
  height: 240px;
  background: #e5e7eb;
  overflow: hidden;
}

.speaker-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.speaker-info {
  padding: 24px;
}

.tag {
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.tag.blue {
  color: #2563eb;
}

.speaker-info h3 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 4px;
}

.speaker-info p {
  font-size: 14px;
  color: #6b7280;
  margin-top: 4px;
}

/* --- Pricing Section Css --- */

.pricing-section {
  background-color: #f3f4f6;
  padding: 80px 0;
}

.pricing-subtitle {
  text-align: center;
  font-size: 14px;
  color: #6b7280;
  margin-top: -40px;
  margin-bottom: 48px;
}

.pricing-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  align-items: stretch;
}

.pricing-card {
  background-color: #ffffff;
  border-radius: 16px;
  padding: 32px;
  border: 1px solid #e5e7eb;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pricing-card.featured {
  background-color: #09090b;
  color: #ffffff;
  border: 2px solid #2563eb;
  transform: scale(1.03);
  position: relative;
}

.badge {
  position: absolute;
  top: -12px;
  right: 24px;
  background: #2563eb;
  color: #ffffff;
  font-size: 11px;
  font-weight: 700;
  padding: 4px 12px;
  border-radius: 9999px;
  text-transform: uppercase;
}

.plan-name {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #9ca3af;
}

.pricing-card.featured .plan-name {
  color: #60a5fa;
}

.price {
  font-size: 40px;
  font-weight: 900;
  margin-top: 8px;
}

.price-sub {
  font-size: 12px;
  color: #9ca3af;
  margin-top: 2px;
}

.features-list {
  margin-top: 32px;
  list-style: none;
  border-top: 1px solid #f3f4f6;
  padding-top: 24px;
}

.pricing-card.featured .features-list {
  border-top-color: #27272a;
}

.features-list li {
  font-size: 14px;
  margin-bottom: 16px;
  color: #4b5563;
}
.pricing-card.featured .features-list li {
  color: #d4d4d8;
}
.btn-outline {
  width: 100%;
  background-color: transparent;
  border: 1px solid #e5e7eb;
  color: #374151;
  padding: 12px;
  border-radius: 12px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 32px;
  transition: background-color 0.2s;
}
.btn-outline:hover {
  background-color: #f9fafb;
}
.pricing-card.featured .btn-primary {
  width: 100%;
  padding: 12px;
  border-radius: 12px;
  margin-top: 32px;
}
